<div class="welcome-box">
  <h1 class="welcome-heading cal-sans-regular">Welcome to Jobify</h1>
  <p class="welcome-subheading open-sans-400">Get the right job you deserve</p>
</div>

<div class="boxes-container">
  <div class="box">
    <h2>Looking for a Job</h2>
    <p>Browse through current job listings and find your next great opportunity.</p>
   <a href="/jobs" class="btn btn-primary start-searching-btn">Start Searching</a>

  </div>
  <div class="box">
    <h2>Looking to Hire?</h2>
    <p>Find qualified professionals for your team.</p>
   <a href="/jobs/new" class="btn btn-primary post-job-btn">Post a Job</a>

  </div>
</div>

